{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>

<html lang="en">
    <h1>Our Mission</h1>
    <div>
        <p>Get2Helping is all about making it easier for our users to find and help out their local communities by
            specifically searching for the activities we feel best help. These include recycling, volunteering, and
            local animal shelters. When everyone does a little part it makes a huge difference, even if that is just
            taking public transportation, which we can help with also! So what are you waiting for? If you don't know
            what activity best suits you, scroll down and learn a little more about each activity and why it is so
            important to help anyway you can.</p>
    </div>
        <h2>Recycling</h2>
        <img src="https://waste-management-world.com/imager/media/wasteManagementWorld/3820706/AdobeStock_571968683_428fd902f4247199467725e7eccf1673.jpeg
" alt="Recycling">

        <p>Recycling is one of the easiest and most simple ways to really make a difference in the world. Many of
            us can do this directly from our homes through city recycling programs, if these are not available to you,
            or you have materials such as electronics or batteries which should never be left in landfills, due to the
            dangers they pose, we will help you find the closest recycling centers to your home. There are over 400 million
            tons of plastic waste each year, with numbers rising. Just one water bottle can take up to 400 years to disintegrate.
            Not only does waste which could be recycled end up in landfills, it also gets dumped into our oceans. Posing a
            great threat to marine life. The Great Pacific Garbage Patch is estimated at double the size of Texas. That is crazy,
            so do your simple part and help our earth by recycling.</p>

        <h1>Volunteering</h1>
        <img src="https://www.parents.com/thmb/zgmQhEKKSTeW0NcIrMEAVsUY06A=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-626891352-99af025cafaf4e69a76cb8af44140201.jpg
" alt="Volunteering">
        <p>Volunteering plays a vital role in any community. It not only is good for the ones on the receiving end of
            volunteering, but also for the individual volunteering. Volunteering gives you the power to change lives. One
            small act of kindness can be the difference between eating or starving for another, having drinking water,or
             getting the human interaction that some elderly so desperately need. Many organizations whose main goal is
            to help, and not profit simply can not afford to pay workers if they dream to help the amount of people they
            want to. The thing is, it doesn't cost you anything but your time. We know time is precious, but volunteering
            is a return on investment that will pay tenfold!!</p>
    
    <h1>Animal Shelters</h1>
    <img src="https://www.dogingtonpost.com/wp-content/uploads/2018/05/helpshelter1-min.jpg" alt="Shelter">
        <p>Not only do our fellow humans need help sometimes, but our furry friends do as well. Approximately 6.3
            companion animals(cats and dogs) enter U.S. animal shelters every year. These are pets that are usually
            found stray or given up by their owners. Without, not only donations, but volunteers these are animals
            that would most likely be euthanized. Luckily, with rising efforts and education about 4 of 5 will survive,
            but that still leaves over 1 million animals euthanized every year. To keep improving on these numbers and
            helping these animals survive we need to keep donations and volunteers coming. What ever method you choose,
            any bit helps, even donating new or used, dog treats, leashes, and treats!!!
{% endblock %}