{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid justify-content-lg-center">
    {% if name %}
        <h1 class="text-center pt-2"><u>Welcome to {{ name }}</u></h1>
    {% else %}
        <h1 class="text-center pt-2"><u>Welcome to Flask Page</u></h1>
    {% endif %}
    </div>
    <div class="container-fluid pt-3">
            <p class="text-center">This site is run on flask, we plan on using APIs to spread the word on volunteer location, animal shelters, and
       recycling centers. We will then show you how to get there with the lowest carbon footprint.</p>
    </div>

{% endblock content %}