<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if name %}
        <title>Flask - {{ name }}</title>
    {% else %}
        <title>Flask Page</title>
    {% endif %}
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="/">Get2Helping</a>
                <a href="{{ url_for('search') }}">Search</a>
                <a href="{{ url_for('test_maps') }}">api test</a>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>