{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="ml-4 mt-2">
    <h1><u>Nearby Locations</u></h1>
    </div>
    {# Create a cointainer for scrollable and clickable items   #}
    <div>
        <div class="container-fluid row py-4 justify-content-center">
            <div class="col-6 text-center">
                <div class="container-fluid rounded" style="max-height: 500px; overflow-y: auto">
                    <ul class="list-unstyled">
                        {% for place in places %}
                            <li class="container-fluid py-3 my-1 rounded btn btn-outline-dark" onclick="updateDestination({{ place.geo_location["lat"] }}, {{ place.geo_location["lng"] }}, '{{ place.name }}')">
                                <div class="row">
                                    <div class="col-auto">
                                        <h3>{{ place.name }}</h3>
                                    </div>
                                    <div class="col text-right">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </div>
                                </div>
                                <div class="row ml-1">
                                    {# Website #}
                                    <div class="mx-1">
                                    {% if place.website %}
                                        <button type="button" class="btn btn-primary" onclick=" window.open('{{ place.website }}','_blank')">Website</button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Website Unavailable" disabled>Website</button>
                                    {% endif %}
                                    </div>
                                    <div class="mx-1">
                                    {# Phone Number #}
                                    {% if place.local_phone_number %}
                                        <a href="tel:{{ place.local_phone_number }}" class="btn btn-primary">Call</a>
                                    {% else %}
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Calling Unavailable" disabled>Call</button>
                                    {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {# Map Object - from user coordinates WIP#}
            <!--Script for map/ probably api intensive-->
            <script>
                {% set splitLocation = userlocation.split(',') %}
                const userLocation = {lat: parseFloat({{splitLocation[0]}}), lng: parseFloat({{splitLocation[1]}})};
                console.log(userLocation)
            </script>
            <script src="{{ url_for('static', filename='js/map.js') }}" defer></script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs8VKdl9noduet_kYpiBM_MRXL64YfZBY&libraries=&v=weekly"></script>
            <script>
                window.onload = function() {
                    if (typeof initMap === 'function') {
                        initMap();
                    } else {
                        console.error("initMap function not defined.");
                    }
                }
            </script>
            <div class="col-5">
                <div id="map" style="height: 500px; width: 100%;"></div>
            </div>
        </div>
    </div>
</body>
{% endblock %}