{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div>
                    {{ form.town.label() }}
                    {% if form.town.errors %}
                        {{ form.town() }}
                        {{ form.get_location() }}
                        {% for error in form.town.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.town() }}
                        {{ form.get_location() }}
                    {% endif %}
                </div>
                <div>
                    {{ form.topic.label() }}
                    {% if form.topic.errors %}
                        {{ form.topic() }}
                        {% for error in form.topic.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.topic() }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>

    <script>
        document.getElementById("get_location").addEventListener("click", function(event){
            event.preventDefault();
            getLocation();
        });

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            // Assumes you have a text box with the id "town". dont change
            document.getElementById("town").value = latitude + ", " + longitude;
        }
    </script>
{% endblock content %}
